<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Scan d'image - Hash perceptuel</title>
</head>
<body>
    <h1>ℹ️ Informations sur le Scan d'image (pHash / dHash / aHash / wHash)</h1>
    <p>Cette application permet de capturer des images à partir de la caméra de votre appareil et de générer des hash perceptuels en utilisant différentes méthodes : pHash, dHash, aHash et wHash.</p>
    <p>Les hash perceptuels sont utilisés pour identifier des images similaires en se basant sur leur contenu visuel plutôt que sur des données binaires exactes. Cela permet de détecter des images qui ont été modifiées ou compressées tout en restant visuellement similaires.</p>
    <h2>Types de hash disponibles :</h2>
    <ul>
        <li><strong>pHash (Perceptual Hash)</strong> : Utilise des transformations de fréquence pour capturer les caractéristiques visuelles globales de l'image.</li>
        <li><strong>dHash (Difference Hash)</strong> : Calcule les différences entre les pixels adjacents pour créer un hash basé sur les variations de luminosité.</li>
        <li><strong>aHash (Average Hash)</strong> : Calcule la moyenne des valeurs de pixel et crée un hash en fonction de la comparaison de chaque pixel avec cette moyenne.</li>
        <li><strong>wHash (Wavelet Hash)</strong> : Utilise des transformations en ondelettes pour capturer les détails à différentes échelles dans l'image.</li>
    </ul>
    <h2>Utilisation</h2>
    <p>Pour utiliser l'application, sélectionnez le type de hash souhaité et la taille du hash, puis cliquez sur le bouton "Capturer" pour prendre une photo avec votre caméra. Le hash généré sera affiché à l'écran.</p>
    <p>Actuellement seul le pHash est pris en charge.</p>
    <h2>Contribuer</h2>
    <p>Ce projet est open source et vous êtes encouragé à contribuer. Vous pouvez proposer des améliorations, signaler des bugs ou ajouter de nouvelles fonctionnalités.</p>
    <a href="https://github.com/nazimboudeffa/card-scanner-fr-flask">https://github.com/nazimboudeffa/card-scanner-fr-flask</a>
    <h2>Faire un don</h2>
    <p>Pour faire un don, vous pouvez utiliser le lien suivant :</p>
    <a href="https://www.tipeee.com/nazimboudeffa">https://www.tipeee.com/nazimboudeffa</a>
</body>
</html>